/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/

.navbar.solid {
  background-color:#444444!important;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px rgb(128, 128, 128);
}
   
.cstm-nav{
  background-color: yellow!important;
}

li a {
  color: white!important;
}
li a:hover{
background-color: #ffce2a;
}

.border-box{
   transition: transform .2s; /* Animation */
}
.border-box:hover{
  transform: scale(1.06);
  border:2px solid #00834f;
  -webkit-box-shadow: 3px 3px 0px 1px rgb(53 75 156);
-moz-box-shadow: 3px 3px 0px 1px rgb(53 75 156);
box-shadow: 3px 3px 0px 1px rgb(53 75 156);
}


  li a {
  color: rgb(255, 255, 255)!important;
  font-weight: bold;}
  li a:hover{
    color:#000!important;
  }
  li:hover{
    margin-right: 10px;
    margin-left: 10px;
  }

  .logo_resize{
    height:100px!important;
  }

ul{
  width: 100% !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #222;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 15px;
    background: #191919;
    color: #fff;
    border-top: 4px solid #FFCE2A;
    text-align: center;
    padding: 30px 20px;
    min-height: 365px;
}

#footer .footer-top .footer-info h3 {
    font-size: 36px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info h4 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}

#footer .footer-top .footer-info img {
    width: 347px;
    height: auto;
}

.facebook {
    color: #3b5998;
}

.twitter {
    color: #4099FF;
}

.rss {
    color: #FF6600;
}

#footer .footer-top .social-links .fa-stack-1x {
    color: white;
}

#footer .copyright {
    border-top: 1px solid #262626;
    text-align: center;
    padding-top: 30px;
}

#footer hr {
    border-top: 5px dashed #FFCE2A;
}

/*--------------------------------------------------------------
# Nav css force to run
--------------------------------------------------------------*/
.text-light a:hover{
  color:black!important;
}